<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.testvictorinox.coti" versionCode="01" version="1.1.0">
	<name>Cotizador_Victorinox</name>
	<description>Cotizador Victorinox</description>
	<author email="pepes17@hotmail.com">Sergio Serrano</author>
	<feature name="http://api.phonegap.com/1.0/camera" />
	<feature name="http://api.phonegap.com/1.0/contacts" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/media" />
	<feature name="http://api.phonegap.com/1.0/network" />
	<feature name="http://api.phonegap.com/1.0/notification" />
	<gap:platform name="ios" />
	<gap:platform name="android" />
	<gap:platform name="webos" />
	<gap:platform name="symbian" />
	<gap:platform name="blackberry" />
	<gap:platform name="winphone" />
	<icon gap:platform="ios" height="57" src="css/images/emoticones_excelente.png" width="57" />
	
	<gap:splash gap:platform="ios" height="480" src="css/images/emoticones_excelente.png" width="320" />
	<gap:splash gap:platform="ios" height="960" src="css/images/emoticones_excelente.png" width="640" />
	<gap:splash gap:platform="ios" height="1024" src="css/images/emoticones_excelente.png" width="768" />
	<gap:splash gap:platform="ios" height="768" src="css/images/emoticones_excelente.png" width="1024" />

	<feature name="File">
		<param name="ios-package" value="CDVFile" />
	</feature>
	<feature name="FileTransfer">
		<param name="ios-package" value="CDVFileTransfer" />
	</feature>
	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
	</feature>
	
	<feature name="ExternalFileUtil">
    		<param name="ios-package" value="CDVExternalFileUtil" />
	</feature>
	
	<gap:plugin name="org.apache.cordova.file" />
	<gap:plugin name="org.apache.cordova.file-transfer" />
	<gap:plugin name="com.jcjee.plugins.emailcomposer" />

	<gap:plugin name="de.appplant.cordova.plugin.email-composer" />
	<preference name="phonegap-version" value="3.0.0" />
	<access origin="*" subdomains="true" />
</widget>